 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Novo Jogador</h3>
      </header>
      <div class="content"> 
      </div>
      <h1>Jogador Adicionado</h1>
     <p>Nome: <%= nome %></p>
     <p>Time: <%= nometi %></p>
     <p>Posição: <%= posicao %></p>
     <p>Altura: <%= altura %></p>
     <p>Idade: <%= idade %></p>

      <%-include('../rodape.ejs')%>